<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  {% if page is defined and page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elif page is undefined and config.description %}
  <meta name="description" content="{{ config.description }}">
  {% endif %}
  <meta property="og:title" content="{% if page is defined %}{{ page.title | markdown(inline=true) | striptags }}{% else %}{{ config.title }}{% endif %}">
  {% if page is defined and page.description %}
  <meta property="og:description" content="{{ page.description }}">
  {% elif page is undefined and config.description %}
  <meta property="og:description" content="{{ config.description }}">
  {% endif %}
  <meta property="og:type" content="{% if page is defined and page.date %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ current_url | default(value=config.base_url) | safe }}">
  {% if config.extra.lite %}
  <style>
    body { max-width: 70ch; }
    a { text-decoration: none; }
  </style>
  {% else %}
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.ily.rs/mascot.css">
  <link rel="icon" href="/favicon.png">
  {% endif %}
  {% if config.generate_feeds %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">
  <link rel="alternate" type="application/rss+xml" title="RSS - writing" href="/blog/rss.xml">
  <link rel="alternate" type="application/rss+xml" title="RSS - reading" href="/read/rss.xml">
  {% endif %}
</head>
<body>
  <nav>
    <a href="/">Home</a><br>
    <a href="/links/">Links</a><br>
    <a href="/now/">Now</a><br>
    {% if not config.extra.lite %}
    <a href="/guestbook/">Guestbook</a>
    {% endif %}
  </nav>
  {% if config.extra.lite %}
  <br>
  This is the text-only, no-JS version of <a href="https://ily.rs{{ current_path | default(value='/404.html') | safe }}">ily.rs</a>.
  <br>
  {% endif %}
  {% block content %}{% endblock %}
  {% if not config.extra.lite %}
    <footer class="muted">
      <a href="/contact/">Contact</a>
      <a href="/rss.xml">RSS</a>
    </footer>
    <img src="https://stats.ily.rs/count?p=ily.rs{{ current_path | default(value='/404.html') | safe }}" alt="" width="1" height="1">
  {% else %}
    <footer>
      <a href="/contact/">Contact</a><br>
      <a href="/rss.xml">RSS</a>
    </footer>
  {% endif %}
</body>
</html>
