{% extends "base.html" %}

{% block content %}

{% set blog = get_section(path="blog/_index.md") %}
{% set reading = get_section(path="read/_index.md") %}
{% set links = get_page(path="links.md") %}

<br>
{% for post in blog.pages %}
<a href="{{ post.permalink }}">{{ post.title | markdown(inline=true) | safe }}</a><br>
{% endfor %}
<br>
{% for post in reading.pages %}
<a href="{{ post.permalink }}">{{ post.title | markdown(inline=true) | safe }}</a><br>
{% endfor %}
<br>
<a href="https://file.ily.rs">file.ily.rs</a><br>
{{ links.content | safe }}
{% endblock %}
