{% extends "base.html" %}

{% block content %}

{% set blog = get_section(path="blog/_index.md") %}
<div class="datelist">
{% for post in blog.pages %}
<span class="muted">{{ post.date | date(format="%d/%m/%y") }}</span><a href="{{ post.permalink }}">{{ post.title }}</a>
{% endfor %}
</div>

<h2>Reading</h2>

{% set reading = get_section(path="read/_index.md") %}
<div class="datelist">
{% for post in reading.pages %}
<span class="muted">{{ post.date | date(format="%d/%m/%y") }}</span><a href="{{ post.permalink }}">{{ post.title }}</a>
{% endfor %}
</div>

{% endblock %}
